.PostForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.PostForm, Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Tags input {
    height: 5em;
}

.SubmitButton {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: lightyellow;
    width: 250px;
}