.App {
  text-align: center;
}

.Main {
  display: flex;
  margin: 0;
  padding: 0;
}

/* .App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  font-size: 40px;
  text-align: center;
} */